:root {
  --ampay-blue: #002447;
  --receipt-borders: #bfbfbf;
}

@font-face {
  font-family: 'montserrat';
  src:
    url('../assets/fonts/montserrat/montserrat-v15-latin-regular.woff')
      format('woff'),
    url('../assets/fonts/montserrat/montserrat-v15-latin-regular.woff2')
      format('woff2');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  /*background: linear-gradient(115deg, #002447 30%, #1A6AB8 80%);*/
  font-family: montserrat !important;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ampay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}

.div-with-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-align-center {
  text-align: center;
}
.width-100 {
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.page-container-home {
  padding: 50px;
  margin-top: -50px;
}
.page-container-home h1 {
  font-weight: bold;
  margin: 0;
  color: white !important;
}

.checkout-top-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  font-weight: bold;
}
.checkout-detail-wrapper {
  display: flex;
  width: 96%;
}
.checkout-detail-icon {
  width: 40px;
  padding-left: 15px;
}
.checkout-pricing-line-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout-card {
  width: 100%;
  margin-top: 10px;
  color: #333333;
  flex-grow: 1;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.checkout-card .adm-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charging-info-block {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0 0 0;
}
.charging-incl-vat {
  font-size: 16px;
}

.adm-button {
  border-radius: 20px !important;
}
.ant-col-0 {
  display: none !important;
} /* fixing issue */

.receipt-main-container {
  width: 100vw;
  background-color: rgb(217, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
}

.receipt-inner-container {
  max-width: 720px;
}

.receipt-header-row {
  display: flex;
  background-color: var(--ampay-blue);
  color: white;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.receipt-header-row-subtitle {
  padding-right: 30px;
}

.receipt-content-container {
  border: 1px solid var(--receipt-borders);
  background-color: white;
  padding: 10px;
  font-size: 14px;
}
.receipt-content-container table {
  width: 100%;
}
.receipt-content-container td {
  border: 1px solid var(--receipt-borders);
  padding: 5px;
}
.receipt-content-container td {
  text-align: right;
}
.receipt-content-container td:nth-child(1) {
  text-align: left;
}
.receipt-content-container thead,
.receipt-content-container tfoot tr:nth-child(1),
.receipt-content-container thead,
.receipt-content-container tfoot tr:nth-child(3),
.receipt-content-container thead,
.receipt-content-container tfoot tr:nth-child(5) {
  font-weight: bold;
}

.receipt-footer-row {
  background-color: var(--ampay-blue);
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
